.speed-button {
  color: inherit;
  height: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: none;
  cursor: pointer;
}


.speed-menu {
  display: none;
  background-color: rgba(28, 28, 28, 0.9);
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1000;
}

.speed-option {
  color: white;
  height: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
}

.speed-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
